/*Colors*/

/*Centralize*/
.centralize{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*List group Item*/
.list-group-item{
    margin-bottom: 20px;
}